@import 'bootstrap/variables';

.code {
  white-space: pre;
  font-family: monospace;
  border: 1px solid $gray-lighter;
  display: inline-block;
  width: 100%;
  height: 500px;
  overflow: scroll;
  padding: $padding-base-vertical $padding-base-horizontal;
}

.invalid {
  background-color: rgba(255, 0, 0, 0.13);
}

.slot input {
  display: inline-block;
  width: 250px;
  margin-right: $padding-base-horizontal * 2;
  margin-bottom: $padding-base-vertical * 2;
}

.delete-slot {
  font-size: $font-size-large;
  display: inline-block;
}

.req-resp {
  margin-top: $padding-base-vertical * 4;
}
